@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

/* styling of the index page */

body {
    background: url(../images/backgroundpic.jpg) no-repeat center center fixed;
    background-size: cover;
}

.game-area {
    background: url(../images/quiz-background.jpg) no-repeat center center;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0; 
    border-radius: 5px;
    padding: 30px; 
}

#answer-button {
    width: 100%;
}

.game-area h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.question-area h2 {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-weight: 600;
}

.btn {
    background: #222;
    color: #fff;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    border: 2px solid #f1a61b;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    visibility: visible;
}

.btn:hover {
    background: #F1A61B;
    color: #222;
}

.btn:focus {
    background-color: #F1A61B;
    color: #222;
}

#next-btn {
    background: #001;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: block;
} 

#check-answer {
        background: #001;
        color: #fff;
        font-weight: 500;
        width: 150px;
        border: 0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
        display: block;
    } 

#restart-quiz {
        background: #001;
        color: #fff;
        font-weight: 500;
        width: 150px;
        border: 0;
        padding: 10px;
        margin: 20px auto 0;
        border-radius: 4px;
        cursor: pointer;
        display: block;
}

/* footer */

footer {
    height: 150px;
    position: sticky;
}

.socialmedia{
    text-align: center;
}

.socialmedia > li {
    display: inline;
}

.socialmedia i {
    font-size: 120%;
    margin: 1%;
    padding: 5%;
    color: #fff;
}

/*404*/

#error {
    color: #fff;
    text-align: center;
}

/* media queries*/

@media screen and (max-width: 750px) {
    .game-area {
        padding: 60px;
        margin: 50px 20px 0; 
        background: url(../images/quiz-background.jpg) no-repeat center center;
    } 
    
}